body {
    margin: 0;
    padding: 0;
}

/* header container style start */

.container {
    width: 82%;
    max-width: 1320px;
    height: 600px;
    margin: 50px auto 120px auto;
    background-image: url(resources/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* text-align: center; */
    padding: 0;
}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.container-slogan {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
}

.container-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    width: 632px;
    text-align: center;
    padding: 0 auto;
    margin: 0 auto;
}

/* header container style end */


/* main content style start */



.one-section-container {

    width: 82%;
    max-width: 1320px;
    height: 600px;
    margin: 50px auto 120px auto;
    text-align: center;
    align-items: center;
}

.section-one-heading {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-one-text {

    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.section-one-catagories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.one-section-image {

    height: 500px;
    flex-shrink: 0;
    fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
}


/* midnight section */

.mid-night-section {

    width: 82%;
    max-width: 1320px;
    height: 600px;

    margin: 360px auto 120px auto;
    background-image: url(resources/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}


.midnight-heading {
    /* width: 642px; */
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    /* margin-top: 800px; */

}

.midnight-description {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}


/*  */

.event-time {
    width: 82%;
    max-width: 1320px;
    height: 482px;
    flex-shrink: 0;
    background-color: rgb(206, 172, 172);
    margin: 120px auto 120px auto;
    border-radius: 5px;
    align-items: center;
    text-align: center;

}

.event-time-content {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin: 0 auto 0 auto;
    width: 700px;
    padding-top: 120px;
    margin-bottom: 40px;


}


.event-time-button {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
}

/*  */

.commin-soon {
    width: 82%;
    max-width: 1320px;
    margin: 50px auto;

    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
}

.commin-soon div {
    background-color: aqua;
    align-items: center;
    margin: 20px;
    width: 100%;
    padding: 10px;


}

.text-one {
    align-items: center;
}

/* .image-comming-soon {
    background-color: aquamarine; 
}

.third-comming-section {
    /* background-color: blue; */



.new-best-offer {
    color: #F00;
    text-align: start;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
    padding: 0px;
}

.comming-soon-text {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
}

.comming-soon-paragaph {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

/*  */

.portfolio {
    width: 82%;
    max-width: 1320px;
    height: 482px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 100px auto;
}

.portfolio-text {
    padding: 20px;
    text-align: start;
}





.portfolio-text p {
    margin: 20px 0;
    padding: 0;

}

.portfolio-greetings {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.portfolio-header {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.portfolio-paragraph {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;

}

.portfolio-one {

    display: flex;

}


.portfolio-one div {

    width: 33%;
    margin: 10px auto;
    padding: 0;

}


.portfolio-two {
    display: flex;

}


.portfolio-two div {
    width: 33%;
    margin: 10px auto;
    padding: 0;
}